@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scroll {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.typed-out {
  width: 15rem;
  animation: typing 1s steps(13), blink 0.7s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

.overflow-hidden {
  overflow: hidden;
}
.bg-darkblue {
  @apply bg-[#3b62a5];
}
.bg-darkerblue {
  @apply hover:bg-[#2c5398];
}
.text-darkblue {
  @apply text-[#3b62a5];
}
.border-darkblue {
  @apply border-[#3b62a5];
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
